<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Me</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/contact.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/assets/images/dumbways.png" alt="logo" width="60px" height="40px">
              </a>
    
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link fw-semibold" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-orange fw-semibold active" aria-current="page" href="Addproject">Add Project</a>
                  </li>
                </ul>
    
                <a href="contact" class="btn bg-black text-white px-3">Contact Me</a>
              </div>
            </div>
        </nav>

        <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="container-form">
                <h2 class="mb-5 mt-5 text-center fw-bold">Get In Touch</h2>
                <form>
                    <div class="mb-2 fw-semibold">
                      <label for="inputName" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2 fw-semibold">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2 fw-semibold">
                        <label for="inputPhone" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="inputPhone" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-2 fw-semibold">
                        <label for="inputSubject" class="form-label">Subject</label>
                        <input class="form-control" list="datalistOptions" id="inputSubject" placeholder="">
                        <datalist id="datalistOptions">
                            <option value="Frontend">
                            <option value="Backend">
                            <option value="Fullstack">
                        </datalist>
                    </div>
                    <div class="mb-3 fw-semibold">
                      <label for="inputMessage" class="form-label">Your Message</label>
                      <textarea class="form-control" id="inputMessage" rows="5"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn bg-black text-white px-4 py-1">Submit</button>
                    </div>
                </form>
            </div>
        </div>


        <script src="/assets/js/form.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>